<span class="vegeta" (click)="vegeta()"> 🦖Feliz cumpleaños🦖</span>
<!-- 
<br>
<br>
<article>
    Pue' bueno, probablemente este sea el primer regalo ya que son tres <br>
    el primero es una pagina interactiva en donde quise hacer algo que sea <br>
    diferente a lo que las demas personas te hayan regalado este dia (ya sabes <br>
    como soy en esto) dandole un toque mio y sobretodo especial

    <br>
    <br>
    JAJAJAJA agreagandole imagenes como los de miraculous tratando de felicitarte (JAJA la <br>
    ia no pudo hacerlo bien XD) ah... Una Calculadora que si lo hiciste bien sabras que puse <br>
    con algo que tal vez no te guste pero poco a poco fue siendo algun chiste locan, lo que ahora probablemente <br>
    hayas escuchado xd, siendo asi algo divertdo como especial esto.
</article>
<br>

<article>
    La segunda cosa si todo paso como tuvo que pasar es....
    <div *ngIf="showSecret"> -->
        <!-- Texto oculto -->
        <!-- <p>Una caja en el cual encontraras cosas como... Una sudadera, tu diras, "Por que una sudadera?" <br>
            Pues porque ahora hace mucho frio, y es de un dinosaurio xd, tal vez no te alcance pero si no te alcanza
            <br>
            creo que lo puedes utlilzar solo en tu casita por si no lo quieres ocupar fuera de, <br>
            bueno, otra cosa es... Una camisa de kiss, esto ya es algo mio que queria darte porque se que <br>
            a ti sin duda alguna te quedara mejor que a mi, era mio pero te lo doy para que tengas algo mio y que <br>
            puedas ocupar poniendo como escusa un regalo de cumpleaños XD
            <br>
            Si, tal vez digas que es caro y lo que quieras pero nop... O sea si pero no jaja <br>
            solo aceptalo por favor que en verdad tenia mucha ilucion por verte (No se si te vea con esa sudadera) <br>
            pero tenia ilucion que te lo pongas ya que cuando lo vi lo primero que pense fue en ti (Este regalo <br>
            ya tiene un año conmigo pero por lo que paso no pude dartelo pero ahora que puedo te lo quiero dar por es
            tuyo ) <br>
            Y por ultimo... Dulces jaja tus favoritas XD (o no vea jaja segun yo si lo son xd)
        </p>
    </div>

    <button (click)="showSecretInput()">Ingresar código</button>
    <input *ngIf="showInput" [(ngModel)]="enteredCode" placeholder="Ingresa el código" />
    <button *ngIf="showInput" (click)="checkCode()">Confirmar</button>

</article>

<article>
    <p>
        Como tercer regalo... JAJAJA eso espero dartelo el lunes sino pues cuadno te vea
    </p>
</article> -->

<br>
<br>
<article>
    Pues bueno, probablemente este sea el primer regalo, ya que son tres. <br>
    El primero es una página interactiva en donde quise hacer algo que sea <br>
    diferente a lo que las demás personas te hayan regalado este día (ya sabes <br>
    cómo soy en esto), dándole un toque mío y, sobretodo, especial.

    <br>
    <br>
    JAJAJAJA agregándole imágenes como las de Miraculous tratando de felicitarte (JAJA la <br>
    IA no pudo hacerlo bien XD). Ah... Una Calculadora que si lo hiciste bien, sabrás que puse <br>
    algo que tal vez no te guste, pero poco a poco fue siendo algún chiste loco, lo que ahora probablemente <br>
    hayas escuchado xd. Siendo así algo divertido y especial.
</article>
<br>

<article>
    La segunda cosa, si todo pasó como tuvo que pasar, es....
    <div *ngIf="showSecret">
        <!-- Texto oculto -->
        <p>Una caja en la cual encontrarás cosas como... Una sudadera, tú dirás, "¿Por qué una sudadera?" <br>
            Pues porque ahora hace mucho frío y es de un dinosaurio XD, tal vez no te alcance, pero si no te alcanza
            <br>
            creo que lo puedes utilizar solo en tu casita por si no lo quieres ocupar fuera de. <br>
            Bueno, otra cosa es... Una camisa de Kiss. Esto ya es algo mío que quería darte porque sé que <br>
            a ti, sin duda alguna, te quedará mejor que a mí. Era mía, pero te lo doy para que tengas algo mío y que <br>
            puedas ocupar, poniendo como excusa un regalo de cumpleaños XD.
            <br>
            Sí, tal vez digas que es caro y lo que quieras, pero no... O sea, sí, pero no, jaja. <br>
            Solo acéptalo, por favor, que en verdad tenía mucha ilusión por verte (No sé si te vea con esa sudadera). <br>
            Pero tenía ilusión de que te lo pongas, ya que cuando lo vi, lo primero que pensé fue en ti (Este regalo <br>
            ya tiene un año conmigo, pero por lo que pasó, no pude dartelo, pero ahora que puedo, te lo quiero dar porque es
            tuyo). <br>
            Y por último... Dulces, jaja, tus favoritos XD (o no vea jaja, según yo sí lo son XD).
        </p>
    </div>

    <button (click)="showSecretInput()">Ingresar código</button>
    <input *ngIf="showInput" [(ngModel)]="enteredCode" placeholder="Ingresa el código" />
    <button *ngIf="showInput" (click)="checkCode()">Confirmar</button>

</article>

<article>
    <p>
        Como tercer regalo... JAJAJA, eso espero dartelo el lunes, sino, pues cuando te vea.
    </p>
</article>
