/* Agrega estilos según tus preferencias */
:host {
    display: block;
    text-align: center;
    padding: 20px;
  }
  
  button {
    background-color: #E5CFF7;
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input {
    padding: 10px;
  }
  
  /* Estilos para el texto secreto */
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  p {
    font-family: 'Microsoft YaHei', Meiryo, 'Meiryo UI', Arial Unicode MS, sans-serif;
    font-size: 15px;
    background-color: #d7d7d7;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .vegeta{
    font-size: 30px;
    font-weight: bold;
  }