<nav class="card card-header xd cabeza"> Feliz Cumpleaños 🥳 </nav>
<br>
<section class="container text-center a">
  <p class="A">Hola señorita Pacheco te hago este pequeño regalo por tu cumpleaños</p>
  <p>Haciendo algo diferente que probablemente las demás personas te hayan regalado</p>
</section>
<br>
<hr>
<section>
  <h3 style="font-weight: bold;" class="text-center a">Jajaja fotos de feliz cumpleaños XD</h3>
  <div class="container">
    <div class="tooltip-container">
      <span class="tooltip-trigger">🎂</span>
      <div class="tooltip">Hola, aqui le pedi a una ia que me ayuadara haceindo imagenes xd
      </div>
    </div>
  </div>

  <!-- Slider -->

  <section>
    <app-slider></app-slider>
  </section>

  <!-- Calculadora  -->
  <section>
    <app-calculator></app-calculator>
  </section>

  <!-- contexto -->
  <section>
    <app-contexto></app-contexto>
  </section>

  <section>
    <app-final></app-final>
  </section>
  <br>
</section>
<router-outlet> </router-outlet>